<!DOCTYPE html>
<html>
<head>
  <title>WorldOfCelebration</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Satisfy" rel="stylesheet">
</head>
<header>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">World of Celebration</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if current_user %>
        <li><a href="/countries">All Countries</a></li>
        <li><%= link_to "Logout", logout_path, method: 'delete', class: "button btn-warning" %></li>
        <li><a></a></li>
        <% else %>
        <%= link_to "Sign in with Google", '/auth/google_oauth2', id: 'sign_in', class: 'button btn-success' %>
        <li><a></a></li>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
<body>
  <%= flash[:notice] %>
  <div class="yielded_content">
    <%= yield %>
  </div>
</body>
</html>
